# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
*.egg-info/
dist/
build/
.pytest_cache/

# Django
*.sqlite3
staticfiles/
media/

# Node
node_modules/
dist/
.env.local
.env.production

# Docker
.dockerignore

# OS
.DS_Store
*.swp
Thumbs.db

# IDE
.vscode/
.idea/
